.tab_box a.active{
     border: none;
 }
 .copy_div{
     position: absolute;
     right: 0px;
     border: 1px solid #1b5edb;
     padding: 2px 10px;
     margin-right: 10px;
     top: calc(100% - 47px);
     font-size: 12px;
     border-radius: 5px;
 }
 .copy_div a{
     margin: 0px;
 }
 .main_box{
     padding: 0px;
 }
 .company_name{
     text-align:left;
     border:none;
     padding: 0px;
 }
 body{
     overflow: scroll;
     background: #1D1D1D;
 }
 .company_name2 {
     display: none;
 }
 .tab_box {
     justify-content: inherit;
 }


 .header_box{
     background: url("../images/pc_header_bg.png") no-repeat;
     background-size: 100% 100%;
     -webkit-background-size: 100% 100%;
 }
 .header_box .company_name{
     color: #F8DAAD;
 }
 .header_box .text_list p{
     color: rgba(248, 218, 173, 0.6);
 }
 .header_box .text_list p span{
     color: #F8DAAD;
 }
 .tab_box a.active{
     color: #F8DAAD;
 }
 .tab_box a.active:after{
     background: #F8DAAD;
 }
 .tab_box .tag_icon{
     width: .5rem;
     position: absolute;
     top: -0.6rem;
     left: 50%;
     margin-left: -.25rem;
   }
   .tab_box{
     background: #1D1D1D;
   }
   .tab_box a{
     color: #FFFFFF;
     border-color: #1D1D1D;
   }

   .copy_div{
     border-color: #F8DAAD;
     
   }
   .copy_div a{
     color: #F8DAAD!important;
   }

   .pc_main_box{
     padding: 0 .8rem;
   }
   .to_upgrade_box{
     margin-top: 28px;
   }
   .to_upgrade_box h3{
     font-size: 16px;
     margin-right: 16px;
     color: #F8DAAD;
   }
   .not_buy{
     padding: 0;
   }
   .small_main_box{
     background: url("../images/pc_bg2_2.png") no-repeat;
     background-size: 100% 100%;
     border-radius: 0.8rem;
     margin-bottom: 1rem;
     width: 100%;
   }
   .small_main_box:after{
     right: -0.3rem;
   }

   .lazy_box{
     width: 100%;
   }
   .lazy_box>div{
     flex: 1;
   }
   .lazy_box .left_box{
     margin-right: .85rem;
   }
   .pc_title{
     font-size: .8rem;
     font-family: PingFangSC, PingFang SC;
     font-weight: 500;
     color: #F8DAAD;
     line-height: 1.1rem;
     padding: 1.5rem 0 .8rem 0;
   }
   .lazy_box .section_box{
     background: #26282D;
     border-radius: .4rem;
     overflow: hidden;
   }
   .chart_box1,.histogram_box,.chart3_slid{
          border: 0;
   }
   .info_title > div{
     margin-right: 1.2rem;
   }
   .histogram_box{
     padding-top: 1.25rem;
     padding-bottom: 0;
   }
   .histogram_box .chart2{
     height: 10.55rem;
   }
   .ranking_nuber{
     padding: 1.05rem .4rem .75rem;
   }
   .chart3_slid{
     padding-bottom: 1.3rem;
   }
   .section_box2{
     padding: 1.05rem .65rem .65rem;
   }
   .xiayou .top_number{
     margin-top: 1rem;
   }
   .section_box_table{
     padding-top: .9rem;
   }