.content {
  background-color: #1D1D1D;
  padding-bottom: 1.2rem;
}
.title_text {
  text-align: center;
  font-size: 0.8rem;
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  color: #F8DAAD;
}
.title_text span {
  width: 1.25rem;
  height: 0.35rem;
  background: url('../images/title_bg_l.png') no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}
.title_text .icon_r {
  background: url('../images/title_bg_r.png') no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}
.title_text p {
  margin: 0 0.4rem;
}
.main_box {
  padding-top: 1rem;
}
.to_upgrade_box {
  font-size: 0.6rem;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  color: #F8DAAD;
  margin: 0.4rem 0 0.8rem 0;
}
.to_upgrade_box a {
  font-size: 0.6rem;
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  color: #BB8654;
  background: linear-gradient(180deg, #FFF5DB 0%, #FFE9AD 100%);
  border-radius: 2px;
  padding: 0.1rem 0.4rem;
}
.to_upgrade_box a img {
  width: 0.35rem;
  margin-left: 0.2rem;
}
.to_upgrade_box p {
  border-radius: 2px;
  border: 1px solid #F8DAAD;
  padding: 0.1rem 0.2rem;
}
.small_main_box {
  width: calc(100% - 1.6rem);
  background: url("../images/bg2_2.png") no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  margin: 0 auto;
  border-radius: 0.3rem;
  position: relative;
  padding: 0.8rem;
}
.small_main_box:after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background: url("../images/bg_icon.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -0.75rem;
  right: 0.3rem;
}
.small_main_box .tips_box {
  padding: 0.65rem 0.3rem 0.4rem 0.6rem;
  background: #26282D;
  border-radius: 0.2rem;
  font-size: 0.55rem;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  color: #F9D9AA;
  line-height: 0.75rem;
  position: relative;
  margin-bottom: 0.35rem;
}
.small_main_box .tips_box .icon {
  width: 0.95rem;
  position: absolute;
  top: -0.3rem;
  left: 0;
}
.small_main_box .title2_text {
  font-size: 0.6rem;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  color: #BB8654;
  line-height: 0.85rem;
  margin: 0.9rem 0 0.9rem 0;
}
.small_main_box .schedule .item .slide_text {
  width: 100%;
}
.small_main_box .schedule .item .slide_text p {
  flex: 1;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  font-family: PingFangSC, PingFang SC;
  font-size: 0.55rem;
  font-weight: 500;
  color: #BB8654;
}
.small_main_box .schedule .item .slide_text .active {
  font-size: 0.7rem;
  font-weight: 500;
}
.small_main_box .schedule .item .slide_box {
  width: 100%;
  background: #BB8654;
  border-radius: 0.1rem;
  margin: 0.3rem 0 0.6rem 0;
  padding: 0.05rem;
  position: relative;
}
.small_main_box .schedule .item .slide_box span {
  height: 0.1rem;
  background: linear-gradient(165deg, #FFFFFF 0%, #EECAA7 100%);
  border-radius: 0.1rem;
  display: block;
  width: 33.3%;
}
.small_main_box .schedule .item .slide_box em {
  width: 33.3%;
  position: absolute;
  left: 0;
  bottom: -0.6rem;
}
.small_main_box .schedule .item .slide_box em img {
  width: 0.45rem;
  font-size: 0;
  margin: 0 auto;
  display: block;
}
.small_main_box .pdd_16 {
  padding: 0.8rem;
}
.section_small {
  background: #26282D;
  width: calc(100% - 1.6rem);
  margin: 0 auto;
  border-radius: 0 0 0.4rem 0.4rem;
  padding: 1.35rem 0.8rem;
  overflow: hidden;
}
.info_title {
  font-size: 0.5rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #fff;
}
.info_title em {
  width: 0.25rem;
  height: 0.25rem;
  background: #F8DAAD;
  border-radius: 50%;
  margin-right: 0.25rem;
}
.info_title span {
  color: #F8DAAD;
}
.info_title > div {
  white-space: nowrap;
  margin-right: 0.25rem;
}
.info_title1 {
  margin: 1rem 0 0.9rem 0;
}
.chart_box {
  padding: 1.1rem 0;
}
.chart_box1 {
  position: relative;
  padding-bottom: 2.45rem;
  border-bottom: 0.05rem dashed #958873;
}
.chart_box1 .big_box {
  width: 100%;
  height: 7.45rem;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.chart_box1 .big_box .bg_box {
  width: 14.9rem;
  height: 14.9rem;
  margin: 0 auto;
  position: relative;
}
.chart_box1 .big_box .bg_box:after {
  content: '';
  width: 14.9rem;
  height: 14.9rem;
  border-radius: 50%;
  background: conic-gradient(#A02617, #FF9E83, #00D83E, #00D83E, #FF9E83, #A02617);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
}
.chart_box1 .big_box .bg_box:before {
  content: '';
  width: 14.4rem;
  height: 14.4rem;
  background: #26282D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 3;
}
.chart_box1 .icon_parent {
  width: 14.9rem;
  height: 14.9rem;
  margin: 0 auto;
  position: absolute;
  top: 0.9rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 3;
  pointer-events: none;
}
.chart_box1 .icon_parent .yuan1 {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  margin-top: -0.3rem;
  left: -0.25rem;
  z-index: 3;
  background: url("../images/chart_cha.png") no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}
.chart_box1 .icon_parent .yuan2 {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  margin-top: -0.3rem;
  right: -0.25rem;
  z-index: 3;
  background: url("../images/chart_you.png") no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}
.chart_box1 .icon_parent .text {
  font-size: 0.6rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #848EA0;
  line-height: 0.85rem;
  position: absolute;
}
.chart_box1 .icon_parent .text1 {
  top: 53%;
  left: 0;
  transform: translateX(-40%);
}
.chart_box1 .icon_parent .text2 {
  top: 53%;
  right: 0;
  transform: translateX(40%);
}
.chart_box1 .icon_parent .tag {
  width: 0.75rem;
  line-height: 0.7rem;
  font-size: 0.6rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #B94533;
  border-radius: 2px;
  border: 1px solid #B94533;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.35rem;
  position: absolute;
}
.chart_box1 .icon_parent .tag1 {
  top: 50%;
  margin-top: -0.4rem;
  left: 0.8rem;
}
.chart_box1 .icon_parent .tag2 {
  color: #07D26A;
  border-color: #07D26A;
  top: 50%;
  margin-top: -0.4rem;
  right: 0.8rem;
}
.chart_box1 .icon_parent .numbers_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2.3rem;
}
.chart_box1 .icon_parent .numbers_box p {
  width: 100%;
}
.chart_box1 .icon_parent .numbers_box .p1 {
  width: 1.95rem;
  background: #F8DAAD;
  border-radius: 2px;
  font-size: 0.5rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #876329;
  line-height: 0.8rem;
  margin-bottom: 0.3rem;
}
.chart_box1 .icon_parent .numbers_box .p2 {
  font-size: 1.2rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #F8DAAD;
  line-height: 1.7rem;
}
.chart_box1 .icon_parent .numbers_box .p2 span {
  font-size: 0.6rem;
}
.chart_box1 .slid_box {
  width: 14.9rem;
  height: 14.9rem;
  margin: 0 auto;
  position: absolute;
  top: 0.9rem;
  left: 50%;
  margin-left: -7.45rem;
  z-index: 3;
  transform: rotate(-90deg);
  pointer-events: none;
}
.chart_box1 .slid_box .rotate_box {
  width: 14.9rem;
  height: 14.9rem;
  position: relative;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.chart_box1 .slid_box .icon {
  width: 0.95rem;
  height: 0.95rem;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  margin-left: -0.475rem;
}
.title_text2 {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
}
.title_border {
  border-top: 0.05rem dashed #958873;
}
.histogram_box {
  width: 100%;
  padding: 0 0.8rem;
  padding-bottom: 1rem;
  border-bottom: 0.05rem dashed #958873;
}
.histogram_box span {
  color: #F8DAAD;
}
.histogram_box .total_number {
  font-size: 0.6rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #848EA0;
  line-height: 0.7rem;
}
.histogram_box .total_number > div {
  flex: 1;
  color: #958873;
}
.histogram_box .total_number > div:nth-child(2) {
  color: #FFFFFF;
  text-align: right;
}
.histogram_box .total_number > div:nth-child(2) p {
  margin-bottom: 0.25rem;
}
.histogram_box .chart2 {
  width: 100%;
  height: 8.55rem;
}
.top_number {
  font-size: 0.5rem;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  color: #958873;
  line-height: 0.7rem;
  margin-bottom: 0.75rem;
}
.chart3_slid {
  width: 100%;
  padding-bottom: 2.65rem;
  border-bottom: 0.05rem dashed #958873;
}
.chart3_slid .slid_main {
  position: relative;
}
.chart3_slid .center_box {
  flex: 1;
  margin: 0 0.4rem;
  height: 0.2rem;
  background: linear-gradient(270deg, #00D83E 0%, #1EBDFF 39%, #FF9E83 74%, #A02617 100%);
  border-radius: 2px;
  margin-top: 0.4rem;
  position: relative;
}
.chart3_slid .center_box .slid1,
.chart3_slid .center_box .slid2 {
  position: absolute;
  top: -0.4rem;
  left: 0;
  z-index: 5;
  width: 0.9rem;
  opacity: 0;
}
.chart3_slid .center_box .slid1 img,
.chart3_slid .center_box .slid2 img {
  width: 0.9rem;
  height: 0.9rem;
  max-width: 0.9rem;
  max-height: 0.9rem;
  min-width: 0.9rem;
  min-height: 0.9rem;
  display: block;
  font-size: 0;
  margin: 0 auto;
  margin-bottom: 0.2rem;
}
.chart3_slid .center_box .slid1 p,
.chart3_slid .center_box .slid2 p {
  text-align: center;
  font-size: 0.6rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FF3F3C;
  /* margin-left: -0.25rem; */
  position: absolute;
  bottom: -0.9rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.chart3_slid .center_box .slid2 p {
  color: #1B5EDB;
}
.chart3_slid .left_box,
.chart3_slid .right_box {
  width: 1.3rem;
  text-align: center;
  position: absolute;
  top: 0.15rem;
  z-index: 3;
}
.chart3_slid .left_box span,
.chart3_slid .right_box span {
  width: 0.75rem;
  height: 0.75rem;
  background: url("../images/chart_cha.png") no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  margin: 0 auto;
  margin-bottom: 0.35rem;
  font-size: 0;
  display: block;
}
.chart3_slid .left_box p,
.chart3_slid .right_box p {
  font-weight: 400;
  color: #848EA0;
  font-size: 0.5rem;
  font-family: PingFangSC-Regular, PingFang SC;
}
.chart3_slid .right_box {
  right: 0;
}
.chart3_slid .right_box span {
  background: url("../images/chart_you.png") no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}
.chart3_slid_2 {
  margin-bottom: 0.5rem;
}
.chart3_slid_2 .center_box:after,
.chart3_slid_2 .center_box:before {
  display: none;
}
.chart3_slid_2 .center_box {
  margin: 0;
}
.chart3_slid_2 .left_0,
.chart3_slid_2 .right_100 {
  width: 0.6rem;
}
.chart3_slid_2 .left_0 span,
.chart3_slid_2 .right_100 span {
  width: 0.6rem;
  height: 0.6rem;
  min-width: 0.6rem;
  min-height: 0.6rem;
  border-radius: 50%;
  border: 0.1rem solid #B94533;
  background: #fff;
  display: block;
  margin-bottom: 0.3rem;
}
.chart3_slid_2 .left_0 p,
.chart3_slid_2 .right_100 p {
  text-align: center;
  font-size: 0.6rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  /* margin-left: -0.25rem; */
  position: absolute;
  bottom: -0.9rem;
  left: 50%;
  transform: translateX(-50%);
  color: #848EA0;
}
.chart3_slid_2 .left_0 {
  position: absolute;
  top: -0.2rem;
  left: 0;
}
.chart3_slid_2 .right_100 {
  position: absolute;
  top: -0.2rem;
  right: 0;
}
.chart3_slid_2 .right_100 span {
  border-color: #00C353;
}
.section_box2 .shangyou .chart3_slid {
  border-bottom: 0;
}
.my_table {
  font-size: 0.6rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 400;
  text-align: center;
  width: 100%;
}
.my_table th {
  color: #958873;
  padding-bottom: 0.45rem;
}
.my_table tbody tr {
  position: relative;
}
.my_table tbody td {
  padding: 0.6rem 0.15rem;
  color: #FFFFFF;
}
.my_table tbody td:nth-child(2) {
  max-width: 5rem;
}
.my_table tbody tr:last-child {
  border: 0;
}
.more_btn {
  border-radius: 8px;
  border: 1px solid #F8DAAD;
  font-size: 0.6rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #F8DAAD;
  background: none;
  padding: 0 0.5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  margin-top: 0.3rem;
}
.show_top3 tr:nth-child(n+4) {
  display: none;
}
.show_top3 tbody tr:nth-child(3) {
  border: 0;
}
.not_buy {
  width: 100%;
  padding: 0 0.8rem;
}
.not_buy img {
  width: 100%;
  display: block;
  font-size: 0;
}
